@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #030014;
  color: #fff;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  pointer-events: none;
}
